# --- Python (Global) ---
__pycache__/
*.pyc

# --- VS Code (Editor) ---
.vscode/

# --- Mac OS (Lixo de sistema) ---
.DS_Store

# --- Windows (Lixo de sistema) ---
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# --- Ambientes Virtuais ---
venv/
env/
.env
gestao_robots.db
